.vscode/
.idea/
releases/

*.rpyc
*.rpymc
*.save
*.bak

log.txt
traceback.txt
errors.txt

game/saves/persistent
game/saves/navigation.json

cache/

game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/script_version.txt

project.json

game/saves/sync/**